.hero {
    background-color: var(--main-bg-color);
    padding: 48px 0;
    padding-bottom: 150px;
    transition: background-color 0.4s ease, 0.4s ease;
}

.hero-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.hero-inp {
    width: 480px;
    background-image: url("../../assets/images/icon-search-black.svg");
    background-color: var(--search-color);
    background-position: calc(50% - 200px);
    background-repeat: no-repeat;
    padding: 18px 74px;
    -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    border-radius: 5px;
    border: none;
    transition: background-color 0.4s ease, 0.4s ease;
    color: var(--text-color);
}

.theme-dark .hero-inp {
    background-image: url("../../assets/images/search-dark.svg");
}

.hero-inp::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--input-color);
}

.hero-inp::-moz-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--input-color);
}

.hero-inp:-ms-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--input-color);
}

.hero-inp::-ms-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--input-color);
}

.hero-inp::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--input-color);
}

.hero-slct {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: var(--input-color);
    background: var(--item-bg-color);
    -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    border-radius: 5px;
    border: none;
    padding: 18px 24px;
    transition: background-color 0.4s ease, 0.4s ease;
}

.hero-opt {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color);
}

.hero-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}